name: CVE Check

# This check can be executed locally as follows:
#
# Install Trivy, see https://aquasecurity.github.io/trivy/v0.18.3/installation/
# $ brew install aquasecurity/trivy/trivy
#
# Lock dependencies
# $ ./gradlew resolveAndLockAll --write-locks
#
# Check for vulnerabilities
# $ trivy fs -s CRITICAL --scanners vuln .
# "CRITICAL" can be "MEDIUM,HIGH,CRITICAL" as well
#
# Remove created lockfiles:
# $ find . -name gradle.lockfile -delete

on:
  schedule:
    - cron: "23 4 * * *"

jobs:
  trivy-vulnerability-check:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    outputs:
      payload_matrix: ${{ steps.set-payload-matrix.outputs.payload_matrix }}
    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Create Gradle lockfiles
        run: ./gradlew resolveAndLockAll --write-locks

      - name: Check for vulnerabilities
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        id: cve_check
        with:
          scan-type: 'fs'
          scanners: 'vuln'
          format: 'json'
          scan-ref: '.'
          severity: 'MEDIUM,HIGH,CRITICAL'
          exit-code: '1'
          ignore-policy: '.github/workflows/ignore-policy.rego'
          output: 'cve-result.json'

      - name: Prepare CVE Slack payload
        if: failure()
        run: |
          node -e '
            const fs = require("fs");
            const cveResult = JSON.parse(fs.readFileSync("./cve-result.json"));

            const getColoredCircle = severity => {
              switch (severity) {
                case "CRITICAL":
                  return ":red_circle:"
                case "HIGH":
                  return ":large_orange_circle:"
                case "MEDIUM":
                  return ":large_yellow_circle:"
                default:
                  return ""
              }
            };

            let output = {
              blocks: [
                {
                  type: "header",
                  text: {
                    type: "plain_text",
                    text: "${{ github.event.repository.name }}",
                    emoji: true,
                  },
                },
              ],
            };

            cveResult.Results.filter(
              (result) => result.Vulnerabilities !== undefined
            ).forEach((result) => {
                output.blocks.push({type: "divider"});
                output.blocks.push({
                  type: "section",
                  text: {
                    type: "mrkdwn",
                    text: `*${result.Target}*`,
                  },
                });
                result.Vulnerabilities.forEach((vuln) => {
                  output.blocks.push({
                    type: "section",
                    fields: [
                      {
                        type: "mrkdwn",
                        text: `*Severity:*\n ${getColoredCircle(vuln.Severity)} ${vuln.Severity}`,
                      },
                      {
                        type: "mrkdwn",
                        text: `*Dependency:*\n${vuln.PkgName}:${vuln.InstalledVersion}`,
                      },
                      {
                        type: "mrkdwn",
                        text: `*Since*:\n ${vuln.PublishedDate}`,
                      },
                      {
                        type: "mrkdwn",
                        text: `*VulnerabilityID*:\n <${vuln.PrimaryURL}|${vuln.VulnerabilityID}>`,
                      },
                    ],
                  });
                });
            });

            const chunkSize = 50; // the Slack API is limited to 50 block items
            let fileCount = 0;

            for (let i = 0; i < output.blocks.length; i += chunkSize) {
              const chunk = {channel: "C05NM8419JM", blocks: output.blocks.slice(i, i + chunkSize)};
              try {
                fs.writeFileSync(`./cve_slack_payload_${fileCount++}.json`, JSON.stringify(chunk))
              } catch (err) {
                  console.error(err);
              }
            }
          '

      - id: set-payload-matrix
        if: failure()
        run: |
          files_array=$(ls cve_slack_payload_*[0-9]*.json | jq -R -s -c 'split("\n")[:-1]')
          payload_matrix=$(jq -cn --argjson files "$files_array" '{file: $files}')
          echo "payload_matrix=$payload_matrix" >> "$GITHUB_OUTPUT"

      - name: Upload CVE files
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cves
          path: cve_slack_payload_*.json

  post-vulnerabilities-to-slack:
    if: failure()
    needs: trivy-vulnerability-check
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix: ${{ fromJson(needs.trivy-vulnerability-check.outputs.payload_matrix) }}
    steps:
      - name: Download files
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: cves
      - name: Notify CVEs in Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload-file-path: ${{ matrix.file }}

  post-success-to-slack:
    if: success()
    needs: trivy-vulnerability-check
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Notify no CVEs in Slack
        if: success()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          # C05NM8419JM is sda-dropwizard-commons-security
          payload: |
            channel: C05NM8419JM
            blocks:
              - type: header
                text:
                  type: plain_text
                  text: ${{ github.event.repository.name }}
                  emoji: true
              - type: context
                elements:
                  - type: mrkdwn
                    text: ":large_green_circle: No CVEs found!"
