# This workflow scans the licenses with Fossa and waits until the license test finished
name: Fossa License Scan

on: [push]

jobs:
  fossa-license-analyze:
    # do not execute for PRs that origin from forks since we are missing the secrets for the scan
    if: "!(github.event.pull_request && github.event.pull_request.head.repo.fork)"
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set up JDK 1.8
        uses: actions/setup-java@v2.3.0
        with:
          distribution: 'adopt'
          java-version: 8
          cache: 'gradle'

      - name: Install Fossa
        run: "curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo bash"

      - name: Fossa Analyze
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
        run: fossa analyze --project "sda-dropwizard-commons" --branch "$GITHUB_REF"

      - name: Fossa Test
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
        run: fossa test --project "sda-dropwizard-commons" --branch "$GITHUB_REF" --debug
