# This workflow builds the Javadoc
name: Javadoc

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # build javadoc
  javadoc:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Run Javadoc
        run: ./gradlew javadoc
