# This workflow builds, tests, and releases the modules.
name: Java CI

on:
  push:
    branches:
      - master
      - release/1.x.x
  pull_request:

jobs:
  # build library
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # always run all tests to avoid having different amounts of tests.
      fail-fast: false
      matrix:
        java_version: ['1.8', '11']
        os: ['ubuntu-latest', 'windows-latest']
        exclude:
          # We have a lot of failures with exactly the Windows with Java 11 combination
          - os: windows-latest
            java_version: '11'

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java_version }}

      - name: Test with Gradle
        run: ./gradlew --parallel --continue javadoc spotlessCheck check

      - name: Generate Test Report
        if: always()
        run: ./gradlew -x test testReport

      - uses: actions/upload-artifact@v2.2.4
        if: always()
        with:
          name: ${{ matrix.os }}-${{ matrix.java_version }}-test-results
          path: |
            build/reports/allTests
            */build/test-results/**/*.xml
          retention-days: 7

      - name: Sonarcloud
        # do not execute for PRs that origin from forks since we are missing the secrets for the scan
        if: "always() && matrix.java_version == '11' && matrix.os == 'ubuntu-latest' && !(github.event.pull_request && github.event.pull_request.head.repo.fork)"
        run: ./gradlew -x test codeCoverageReport sonarqube
        env:
          SONAR_LOGIN_TOKEN: ${{ secrets.SONAR_LOGIN_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PR: ${{ github.event.number }}

  publish-test-results:
    name: "Publish Unit Tests Results"
    timeout-minutes: 60
    needs: build
    runs-on: ubuntu-latest
    # Don't run for forks because of missing secrets
    if: (success() || failure()) && !(github.event.pull_request && github.event.pull_request.head.repo.fork)
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@2c1638db7746f235576536a706b83d2eece7f413
        with:
          files: artifacts/**/*.xml

  # create release and publish the artifacts
  semantic-release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: build
    steps:
      - uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install Semantic release
        run: |
          sudo npm install -g \
            semantic-release@17.0.8 \
            @semantic-release/git@9.0.0 \
            @semantic-release/release-notes-generator@9.0.1 \
            @semantic-release/github@7.0.7

      - name: Release and Publish
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.NEXUS_LOGIN_TOKEN }}
