# This workflow builds + tests using the latest Java version
#
# Disclaimer:
# ----------
# This workflow is only used to get early feedback about the compatibility of the library. It still
# does not guarantee that services using this library will work in the given Java version.
#
# It was created by copying the 'official' java-ci.yml and applying the following changes:
# - only runs on `main`
# - only one `os` + `java_version` in the build matrix
# - not a complete checkout (with fetch-depth: 0)
# - only 3 retries
# - no release (step 'semantic-release')
# - no publication of the test results (step 'publish-test-results')
# This is only to have awareness for potential issues of the next LTS version
name: Java CI Latest

on:
  push:
    branches:
      - main

jobs:
  # build library
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # always run all tests to avoid having different amounts of tests.
      fail-fast: false
      matrix:
        java_version: ['23']
        os: ['ubuntu-22.04']

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}
          cache: 'gradle'

      - name: Test with Gradle
        uses: nick-invision/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v2
        with:
          timeout_minutes: 30
          max_attempts: 3
          retry_wait_seconds: 10
          warning_on_retry: false
          command: ./gradlew --parallel --continue check -x spotlessCheck

      - name: Generate Test Report
        if: always()
        run: ./gradlew -x test testReport codeCoverageReport

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: ${{ matrix.os }}-${{ matrix.java_version }}-test-results
          path: |
            build/reports/
            */build/test-results/**/*.xml
          retention-days: 7