# This workflow builds the Javadoc
name: Javadoc

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  # build javadoc
  javadoc:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Run Javadoc
        run: ./gradlew javadoc
