name: Publish mkdocs
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          fetch-depth: 1
      - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
      - run: sudo apt-get update && sudo apt-get -yq install graphviz git fonts-ipafont fonts-ipaexfont
      - run: >
          wget -q -O /usr/local/bin/plantuml https://github.com/mikaelhg/puni2/releases/download/1.2022.7/plantuml-1.2022.7-glibc-x86_64
          && chmod 755 /usr/local/bin/plantuml
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v.6.2.0
        with:
          python-version: 3.12
      - run: pip install mkdocs-techdocs-core # Includes material theme
      - run: pip install mkdocs-build-plantuml-plugin
      - run: git fetch origin gh-pages # Get latest history
      - run: > # required for mkdocs, not for techdocs
          yq -i '.plugins |= . +
          [{"build_plantuml": {"render":"server", "server":"http://www.plantuml.com/plantuml", "output_format": "svg"}}]'
          mkdocs.yaml
      - name: Dry run generated mkdocs
        if: github.event_name == 'pull_request'
        run: mkdocs build --config-file mkdocs.yaml && ls -al
      - name: Archive test build
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: site
          path: |
            site
          retention-days: 1
      - name: Publish generated mkdocs
        if: github.event_name != 'pull_request'
        run: mkdocs gh-deploy --config-file mkdocs.yaml
