# This workflow uploads the releases to the SDA Nexus
name: Publish Release to SDA

on:
  release:
    types:
      - released
      - prereleased

env:
  SEMANTIC_VERSION: ${{ github.event.release.tag_name }}

jobs:
  upload-to-sda:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Set up JDK 1.8
        uses: actions/setup-java@d854b6da19cdadd9a010605529e522c2393ebd38 # tag=v3.5.0
        with:
          distribution: 'temurin'
          java-version: 8
          cache: 'gradle'

      - name: Build and Sign packages
        run: ./gradlew --parallel signMavenPublication
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PRIVATE_KEY_SECRET }}

      - name: Upload to SDA Nexus
        run: ./gradlew -x signMavenPublication publishMavenPublicationToSdaInternRepository
        env:
          SDA_NEXUS_USER: ${{ secrets.NEXUS_LOGIN_USER }}
          SDA_NEXUS_PASSWORD: ${{ secrets.NEXUS_LOGIN_PASSWORD }}
