# This workflow uploads snapshots of Pull Requests
name: Pull Request Snapshots

on: [pull_request]

jobs:
  pull-request-snapshots:
    # do not execute for PRs that origin from forks or created by dependabot since we are missing the secrets for the push
    if: "!(github.event.pull_request && github.event.pull_request.head.repo.fork) && github.actor != 'dependabot[bot]'"
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2.3.0
        with:
          distribution: 'adopt'
          java-version: 8
          cache: 'gradle'

      - name: Build and Publish Snapshot
        run: ./gradlew publishMavenPublicationToSdaInternRepository
        env:
          SEMANTIC_VERSION: PR-${{ github.event.number }}-SNAPSHOT
          SDA_NEXUS_USER: ${{ secrets.NEXUS_LOGIN_USER }}
          SDA_NEXUS_PASSWORD: ${{ secrets.NEXUS_LOGIN_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PRIVATE_KEY_SECRET }}
