# This workflow uploads snapshots of Pull Requests
name: Pull Request Snapshots Maven Central

on: [pull_request]

env:
  SEMANTIC_VERSION: PR-${{ github.event.number }}-${{ github.sha }}-SNAPSHOT

jobs:
  pull-request-snapshots:
    # do not execute for PRs that origin from forks or created by dependabot since we are missing the secrets for the push
    if: "!(github.event.pull_request && github.event.pull_request.head.repo.fork) && github.actor != 'dependabot[bot]'"
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Build and sign packages
        run: ./gradlew --parallel javadoc assemble signMavenPublication
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PRIVATE_KEY_SECRET }}

      - name: Upload SNAPSHOT to Maven Central
        run: ./gradlew publishToMavenCentral
        env:
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PRIVATE_KEY_SECRET }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MVN_CENTRAL_LOGIN_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MVN_CENTRAL_LOGIN_PASSWORD }}
